/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
	body
	{
	}

	body,input,textarea,select
	{
		font-size: 11pt;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 6em 0em;
	}

	.homepage #banner
	{
		padding: 6em 0em;
		height: 320px;
	}
	
/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 1em 0em 6em 0em;
	}
	
	.homepage #page
	{
		padding: 1em 0em;
	}

	#main
	{
		margin-top: 3em;
		/*padding-top: 2em;*/
		border-top: none;
	}
	
	.homepage #main
	{
		margin-top: 1em;
		/*padding-top: 6em;*/
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer
	{
		padding: 4em 0em 4em 0em;
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
	
	#featured
	{
		padding: 1em 0em;
	}

	
	#featured .divider
	{
		padding: 2em 0em;
	}
